html, body, #main {
  width: 100%;
  height: 100%;
  background:rgba(255,255,255,0.5);
}

.container-fluid {
  margin: auto;
  border: 4px solid lightgrey;
  padding: 30px;
  margin: 20px;
  overflow: scroll;
}

legend {
  font-size: 28px;
  margin-bottom: 0;
  text-align: center;
  border: none;
}

.message-board {
  height: 100%;
}

button {
  border: 4px solid lightgrey;
  width: 9em;
  background-color: #eff0f1;
  height: 3em;
}

.clear-button {
  float: left;
}

.create-button {
  float: right;
}

.no-post {
  height: 50vh;
  line-height: 50vh;
  text-align: center;
}

.no-reply {
  height: 25vh;
  line-height: 25vh;
  text-align: center;
}

.postlist {
  height: 50vh;
}

.replylist {
  height: 25vh;
}

.no-post-message {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.post {
  margin: 3vh 2vw;
  border: 4px solid lightgrey;
  min-height: 6em;
}

.user {
  float: left;
  font-size: 
}

.title {
  text-transform: capitalize;
  display: inline;
}

.message {
  display: inline;
}

.post-button {
  margin-top: 2em;
}

a {
  color: rgb(51,51,51);
}

.warning {
  color: rgb(162, 52, 178);
  height: 11vh;
  line-height: 0.8;
}

.form-control-label {
  font-weight: bold;
}

.form-control {
  font-size: 22px;
}

input.form-control  {
  height: 2em;
}

.form-horizontal .form-group {
  margin: 10px 0;
}

.form-control {
  border: 4px solid lightgrey;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

.reply {
  border: 4px lightgrey;
  border-style: dashed none none none;
}

li.list-group-item.reply:nth-child(2) {
  border-top: none;
}

.list-group.replylist {
  max-height: 25vh;
  overflow: scroll;
  margin-bottom: 0;
}

.list-group.postlist {
  max-height: 50vh;
  overflow: scroll;
  margin-bottom: 0;
}

hr.solid {
  border-top: 4px solid lightgrey;
}

hr.dashed {
  border-top: 4px dashed lightgrey;
}

.form-control-label.reply-label {
  text-align: left;
}

.post-div {
  height: 15vh;
  margin-top: 15px;
  text-align: center;
}

.list-group.replylist, .post-detail {
  height: 25vh;
}

.reply-button {
    width: 100%;
    margin-top: 1.5em;
  }

.back-to-posts-button {
  width: 100%;
}

.reply-post {
  width: 100%;
}

.back-to-posts {
  display: none;
}

.triangle-right {
  display: none;
}

.postlist.list-group {
  height: 50vh;
  max-height: 50vh;
}

.warning {
  height: 5vh;
}

.comments {
  float: right;
}

.updated-time {
  display: none;
}

.form-control-label {
  text-align: center;
  width: 100%;
}

.form-group.no-margin {
  margin: 0;
}


@media(min-width: 994px) {

  .message-board {
    padding: 10px;
  }

  .comments {
    padding-left: 2em;
  }

  .updated-time {
    float: right;
  }

  .created-time {
    display: inline;
  }

  .post-button {
    bottom: 8em;
    right: 8em;
  }

  .post-div {
    text-align: right;
  }

  .button-div, .back-to-posts {
    float: right;
  }

  .clear-button {
    margin-right: 2em;
  }

  .reply-content {
    display: inline-block;
    width: 70%;
  }

  .reply-button {
    display: inline-block;
    width: 30%;
    text-align: right;
  }

  div.back-to-posts-div {
    display: none;
  }

  .triangle-right {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 50px solid lightgrey;
    border-bottom: 25px solid transparent;
    display: inline-block;
    margin-left: 2em;
  }

  .post-item {
    display: inline-block;
    width: 87%;
  }

  .postlist.list-group {
    height: 50vh;
    max-height: 50vh;
  }

  .warning {
    height: 5vh;
  }

  .list-group.replylist, .post-detail {
    height: 15vh;
  }

  .form-horizontal .form-group {
    margin: 30px 0;
  }

  .reply-post {
    width: 80%;
  }

  .back-to-posts {
    display: inline-block;
  }
}

@media(max-width: 991px) and (min-width: 768px) {

  .message-board {
    padding: 10px;
  }

  .list-group.replylist, .post-detail {
    height: 15vh;
  }

  .form-horizontal .form-group {
    margin: 30px 0;
  }

  button {
    width: 10em;
  }
}